/* 全局样式 */
*{
    margin: 0px;
    padding: 0px;
}

html,body,#app{
    height: 100%;
}
.el-menu{
    border-right: none;
}
.iconfont{
    margin-right: 10px; 
}
.toggle-btn{
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 14px;
}
.el-breadcrumb{
    font-size: 12px;
}
.el-card{
    margin-top: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}
.el-table{
    margin-top:15px;
}

.el-cascader-menu {
  height: 240px;
}